body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
    font: bold 26px "Josefin Sans";
    color: #fff;
	animation: gradient 15s ease infinite;
	height: 100vh;
    overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.head { 
    font: bolder 44px "Josefin Sans";
  }

.data {
    font: bold 24px "Josefin Sans";
}

.center {
    text-align: center;
    line-height: 1.2;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.blue-btn:active,
.blue-btn:focus,
.blue-btn {
  width: 120px;
  background: transparent;
  border: solid 1px #fff;
  border-radius: 3px;
  color: #fff;
  font: bold 24px "Josefin Sans";
  margin-bottom: 20px;
  outline: none !important;
  padding: 10px 20px;
}

.blue-btn:hover {
    background: #fff;
    color: #000;
}
