/* Top Navigation Bar */

.navbar a {
  font: bold 28px "Josefin Sans";
  color: #fff;
}
.navbar li a:hover, a:active {
  line-height: 17px;
  background-color: transparent;
  border-bottom: 1px dotted #fff;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
  border-radius: 0;
}
/* End Of Top Navigation Bar */

/*Button*/

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
  font: bold 26px "Josefin Sans";
  color: #fff;
	animation: gradient 15s ease infinite;
  margin-top: 225px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.head {
  text-align: center;
  font: bold 30px "Josefin Sans";
}

.blue-btn:active,
.blue-btn:focus,
.blue-btn {
  background: transparent;
  border: solid 1px #fff;
  border-radius: 3px;
  color: #fff;
  font: bold 20px "Josefin Sans";
  margin-bottom: 15px;
  outline: none !important;
  padding: 10px 20px;
}

.blue-btn2:active,
.blue-btn2:focus,
.blue-btn2 {
  width: 149px;
  background: transparent;
  border: solid 1px #fff;
  border-radius: 3px;
  color: #fff;
  font: bold 20px "Josefin Sans";
  margin-bottom: 10px;
  outline: none !important;
  padding: 10px 20px;
}


.fileUpload {
  position: relative;
  overflow: hidden;
  height: 43px;
  margin-top: 0;
}

.fileUpload input.uploadlogo {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font: bold 22px "Josefin Sans";
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 42px;
}

/*Chrome fix*/
input::-webkit-file-upload-button {
  cursor: pointer !important;
  height: 42px;
  width: 100%;
}

.blue-btn:hover {
  background: #fff;
  color: #000;
}

/*End of Button*/
